.login--header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Public Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.login--input{
border-radius: 0.25rem;
border: 1px solid #C7C4C2;

}
.login--button{
 
border-radius: 4rem;
background:  #0B0C0C;
color: #FFF;
text-align: center;
font-family: Public Sans;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 1rem; /* 100% */
text-transform: uppercase;
border:none;
padding:1.5rem 2rem;
}


.thanks--vote{
  text-align: center;
font-family: Public Sans;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: 120%;
margin:14rem 9rem;
}