
.copy{
    font-family: Public Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    }
    

footer{
    display:flex;
    justify-content:space-between;
     border-top:1px solid grey;
     height:auto;
     align-items:center;
     
     bottom: 0;
     width:100%;
     
}
.copy{
     margin:2rem 0rem 2rem 5rem;
}
.social{
    display:flex;
      gap:1.5rem;
      margin-right:5rem;
}