.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-height:20rem;
}

.dlink {

  display:flex;
  gap:1rem;
  align-items:center;
  margin: 3rem 0rem 1rem 15rem;
}
.district--name {
  color: var(--black, #0b0c0c);
  font-family: Public Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 3rem 0rem 2rem 15rem;
  text-transform:capitalize;
}

.nominee-btn {
  border-radius: 4rem;
  background: #006eb5;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: Public Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  border: none;
  margin: 3rem;
  margin-right: 23rem;

  cursor: pointer;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 5rem;
}


.link--home{
  color:#0B0C0C;
  font-family: Public Sans;
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
text-decoration:none;

}
.link--dis{
  color: var(--black, #0B0C0C);
font-family: Public Sans;
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; 
opacity:0.3;
text-decoration:none;
text-transform:capitalize;
}

    .no-results{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:4rem;
    font-weight:100;
    }

     

    @media screen and (max-width:1280px)
    {
     .dlink,.district--name{
        margin-left:10rem;
     }
     .nominee-btn{
      margin-right:0rem;
     }
    }

    @media screen and (max-width:480px)
    {
     .dlink,.district--name{
      margin:0;
      margin-top:1rem;
        margin-left:3rem;
     }
     .district--name{
margin-bottom:1rem;
font-size:2rem;
     }
     .nominee-btn{
      margin:0;
      margin:auto;
      position:fixed;
      bottom:0.5rem;
      width:100%;
      left:0;
      right:0;
      z-index: 9999; 
     }
    
     .cards{
      margin-bottom:2rem;
     }
    }